
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 4.5rem;
}

.intro .intro-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
}

.intro .text-slider-items {
  display: none;
}

.intro-content {
  margin-top: 30px;
}

.intro-title {
  text-transform: uppercase;
}

.breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.breadcrumb a {
  color: #fff;
}

.social button{
  transform: rotate(45deg);
  border-radius: 5px;
  border: 2px solid #FF9000;
  color: #FF9000;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  font-size: 20px;
  height: 50px;
  width: 50px;
}

.social button:hover {
  border: 2px solid #FF9000;
  background-color: #FF9000;
  color: white;
}

.social button i{
  transform: rotate(-45deg);
}

