body {
    overflow: scroll;
}

h1 {
    color: orangered
}

#homescreen {
    background-color: darkslategray;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}